:root{
    --to-color: #64748b;
    --secondary-to:#475569;
    --from-color: #cbd5e1;
    --secondary-from:#94a3b8;
    --text-color: black;
    --shadow-color: 0 10px 10px 2px rgba(0,0,0,0.5);
    --border-color: #93c5fd;
}

.dark{
    --to-color: #0f172a;
    --secondary-to:#1e293b;
    --from-color: #334155;
    --secondary-from:#475569;
    --text-color: white;
    --shadow-color: 0 10px 10px 2px rgba(0,0,0,0.7);
    --border-color: #821104;
    --border-radius: 8px;
}